Package: com.evilpenguin.sslbypass
Name: SSLBypass
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: SSLBypass will bypass SSL pinning from iOS 8 - 14
Maintainer: EvilPenguin
Author: EvilPenguin
Section: Tweaks
